# Paris Housing Analitical Dashboard

## 1. Import dan Persiapan Data

**Import Library**

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

### Membaca Dataset

In [2]:
df = pd.read_csv("Paris Housing.csv")

### Eksplorasi Awal Data

In [3]:
df.sample(5)

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price,category
2110,84609,59,1,1,29,57704,6,8,2006,1,0,1459,5381,205,0,10,8469601.6,Luxury
871,7812,68,0,1,93,30594,4,6,2012,0,1,3559,2197,722,1,0,786725.2,Basic
4325,63657,59,0,0,51,81762,7,10,2020,0,1,2036,9364,430,0,0,6367982.0,Basic
5849,2536,88,1,0,25,76785,10,5,2018,0,0,264,4785,669,1,0,258795.8,Basic
4339,16839,44,1,0,75,46594,6,5,1997,0,1,7765,4838,955,1,0,1692521.7,Basic

In [4]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   squareMeters       10000 non-null  int64
 1   numberOfRooms      10000 non-null  int64
 2   hasYard            10000 non-null  int64
 3   hasPool            10000 non-null  int64
 4   floors             10000 non-null  int64
 5   cityCode           10000 non-null  int64
 6   cityPartRange      10000 non-null  int64
 7   numPrevOwners      10000 non-null  int64
 8   made               10000 non-null  int64
 9   isNewBuilt         10000 non-null  int64
 10  hasStormProtector  10000 non-null  int64
 11  basement           10000 non-null  int64
 12  attic              10000 non-null  int64
 13  garage             10000 non-null  int64
 14  hasStorageRoom     10000 non-null  int64
 15  hasGuestRoom       10000 non-null  int64
 16  price              10000 non-null  float64
 17  category           10000 non-null  str
dtypes: float64(1), int64(16), str(1)
memory usage: 1.4 MB

**Note:**

Berdasarkan df.info():

1. 16 kolom bertipe int64
2. 1 kolom bertipe float64 → price
3. 1 kolom bertipe string → category
4. Tidak terdapat missing values (semua kolom memiliki 10.000 non-null values)

Artinya:

* Dataset dalam kondisi lengkap
* Tidak perlu penanganan missing value

In [5]:
df.describe()

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.00000,10000.00000,10000.000000,10000.00000,1.000000e+04
mean,49870.13120,50.358400,0.508700,0.496800,50.276300,50225.486100,5.510100,5.521700,2005.48850,0.499100,0.499900,5033.103900,5028.01060,553.12120,0.503000,4.99460,4.993448e+06
std,28774.37535,28.816696,0.499949,0.500015,28.889171,29006.675799,2.872024,2.856667,9.30809,0.500024,0.500025,2876.729545,2894.33221,262.05017,0.500016,3.17641,2.877424e+06
min,89.00000,1.000000,0.000000,0.000000,1.000000,3.000000,1.000000,1.000000,1990.00000,0.000000,0.000000,0.000000,1.00000,100.00000,0.000000,0.00000,1.031350e+04
25%,25098.50000,25.000000,0.000000,0.000000,25.000000,24693.750000,3.000000,3.000000,1997.00000,0.000000,0.000000,2559.750000,2512.00000,327.75000,0.000000,2.00000,2.516402e+06
50%,50105.50000,50.000000,1.000000,0.000000,50.000000,50693.000000,5.000000,5.000000,2005.50000,0.000000,0.000000,5092.500000,5045.00000,554.00000,1.000000,5.00000,5.016180e+06
75%,74609.75000,75.000000,1.000000,1.000000,76.000000,75683.250000,8.000000,8.000000,2014.00000,1.000000,1.000000,7511.250000,7540.50000,777.25000,1.000000,8.00000,7.469092e+06
max,99999.00000,100.000000,1.000000,1.000000,100.000000,99953.000000,10.000000,10.000000,2021.00000,1.000000,1.000000,10000.000000,10000.00000,1000.00000,1.000000,10.00000,1.000677e+07

In [6]:
df.describe().to_markdown()

'|       |   squareMeters |   numberOfRooms |      hasYard |      hasPool |     floors |   cityCode |   cityPartRange |   numPrevOwners |        made |   isNewBuilt |   hasStormProtector |   basement |    attic |    garage |   hasStorageRoom |   hasGuestRoom |           price |\n|:------|---------------:|----------------:|-------------:|-------------:|-----------:|-----------:|----------------:|----------------:|------------:|-------------:|--------------------:|-----------:|---------:|----------:|-----------------:|---------------:|----------------:|\n| count |        10000   |      10000      | 10000        | 10000        | 10000      |    10000   |     10000       |     10000       | 10000       | 10000        |        10000        |   10000    | 10000    | 10000     |     10000        |    10000       | 10000           |\n| mean  |        49870.1 |         50.3584 |     0.5087   |     0.4968   |    50.2763 |    50225.5 |         5.5101  |         5.5217  |  2005.49    |     0.4991   |            0.4999   |    5033.1  |  5028.01 |   553.121 |         0.503    |        4.9946  |     4.99345e+06 |\n| std   |        28774.4 |         28.8167 |     0.499949 |     0.500015 |    28.8892 |    29006.7 |         2.87202 |         2.85667 |     9.30809 |     0.500024 |            0.500025 |    2876.73 |  2894.33 |   262.05  |         0.500016 |        3.17641 |     2.87742e+06 |\n| min   |           89   |          1      |     0        |     0        |     1      |        3   |         1       |         1       |  1990       |     0        |            0        |       0    |     1    |   100     |         0        |        0       | 10313.5         |\n| 25%   |        25098.5 |         25      |     0        |     0        |    25      |    24693.8 |         3       |         3       |  1997       |     0        |            0        |    2559.75 |  2512    |   327.75  |         0        |        2       |     2.5164e+06  |\n| 50%   |        50105.5 |         50      |     1        |     0        |    50      |    50693   |         5       |         5       |  2005.5     |     0        |            0        |    5092.5  |  5045    |   554     |         1        |        5       |     5.01618e+06 |\n| 75%   |        74609.8 |         75      |     1        |     1        |    76      |    75683.2 |         8       |         8       |  2014       |     1        |            1        |    7511.25 |  7540.5  |   777.25  |         1        |        8       |     7.46909e+06 |\n| max   |        99999   |        100      |     1        |     1        |   100      |    99953   |        10       |        10       |  2021       |     1        |            1        |   10000    | 10000    |  1000     |         1        |       10       |     1.00068e+07 |'

### Pemeriksaan Tipe Data

| Kolom                     | Kondisi Saat Ini | Catatan                           |
| ------------------------- | ---------------- | --------------------------------- |
| `category`                | str              | Sudah benar (categorical)         |
| `hasYard`, `hasPool`, dll | int64            | Seharusnya bisa diubah ke boolean |
| `cityCode`                | int64            | Lebih cocok sebagai kategori      |
| `made`                    | int64            | Tahun bangunan                    |

In [7]:
# Ubah ke boolean
bool_cols = ['hasYard','hasPool','isNewBuilt','hasStormProtector',
             'hasStorageRoom']

df[bool_cols] = df[bool_cols].astype('bool')

# Ubah category
df['category'] = df['category'].astype('category')

In [8]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   squareMeters       10000 non-null  int64
 1   numberOfRooms      10000 non-null  int64
 2   hasYard            10000 non-null  bool
 3   hasPool            10000 non-null  bool
 4   floors             10000 non-null  int64
 5   cityCode           10000 non-null  int64
 6   cityPartRange      10000 non-null  int64
 7   numPrevOwners      10000 non-null  int64
 8   made               10000 non-null  int64
 9   isNewBuilt         10000 non-null  bool
 10  hasStormProtector  10000 non-null  bool
 11  basement           10000 non-null  int64
 12  attic              10000 non-null  int64
 13  garage             10000 non-null  int64
 14  hasStorageRoom     10000 non-null  bool
 15  hasGuestRoom       10000 non-null  int64
 16  price              10000 non-null  float64
 17  category           10000 non-null  category
dtypes: bool(5), category(1), float64(1), int64(11)
memory usage: 996.2 KB

### Pemeriksaan Duplikasi

In [9]:
df.duplicated().sum()

np.int64(0)

**Note:**

Tidak terdapat duplikasi data

### Feature Engineering

In [10]:
# Menghitung usia properti berdasarkan tahun pembangunan
df['property_age'] = 2025 - df['made']

# Menjumlahkan total fasilitas tambahan (basement, attic, garage)
df['total_special_rooms'] = df['basement'] + df['attic'] + df['garage']

# Menghitung harga per meter persegi
df['price_per_sqm'] = df['price'] / df['squareMeters']

### Standarisasi Nama Kolom

In [11]:
df = df.rename(columns={
    'squareMeters': 'square_meters',
    'numberOfRooms': 'number_of_rooms',
    'hasYard': 'has_yard',
    'hasPool': 'has_pool',
    'cityCode': 'city_code',
    'cityPartRange': 'city_part_range',
    'numPrevOwners': 'num_prev_owners',
    'made': 'year_built',
    'isNewBuilt': 'is_new_built',
    'hasStormProtector': 'has_storm_protector',
    'hasStorageRoom': 'has_storage_room',
    'hasGuestRoom': 'has_guest_room'
})

### Menambahkan ID

In [12]:
df['id'] = range(1, len(df) + 1)

In [13]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   square_meters        10000 non-null  int64
 1   number_of_rooms      10000 non-null  int64
 2   has_yard             10000 non-null  bool
 3   has_pool             10000 non-null  bool
 4   floors               10000 non-null  int64
 5   city_code            10000 non-null  int64
 6   city_part_range      10000 non-null  int64
 7   num_prev_owners      10000 non-null  int64
 8   year_built           10000 non-null  int64
 9   is_new_built         10000 non-null  bool
 10  has_storm_protector  10000 non-null  bool
 11  basement             10000 non-null  int64
 12  attic                10000 non-null  int64
 13  garage               10000 non-null  int64
 14  has_storage_room     10000 non-null  bool
 15  has_guest_room       10000 non-null  int64
 16  price                10000 non-null  float64
 17  category             10000 non-null  category
 18  property_age         10000 non-null  int64
 19  total_special_rooms  10000 non-null  int64
 20  price_per_sqm        10000 non-null  float64
 21  id                   10000 non-null  int64
dtypes: bool(5), category(1), float64(2), int64(14)
memory usage: 1.3 MB

### Outlier Checking

In [14]:
num_cols = df.select_dtypes(include=['int64','float64']).columns
num_cols

Index(['square_meters', 'number_of_rooms', 'floors', 'city_code',
       'city_part_range', 'num_prev_owners', 'year_built', 'basement', 'attic',
       'garage', 'has_guest_room', 'price', 'property_age',
       'total_special_rooms', 'price_per_sqm', 'id'],
      dtype='str')

In [15]:
# Check Outlier using IQR
def detect_outliers_iqr(data, column):
    Q1 = data[column].quantile(0.25)
    Q3 = data[column].quantile(0.75)
    IQR = Q3 - Q1
    
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    
    outliers = data[(data[column] < lower) | (data[column] > upper)]
    
    return outliers.shape[0]

for col in num_cols:
    print(col, ":", detect_outliers_iqr(df, col))

square_meters : 0
number_of_rooms : 0
floors : 0
city_code : 0
city_part_range : 0
num_prev_owners : 0
year_built : 0
basement : 0
attic : 0
garage : 0
has_guest_room : 0
price : 0
property_age : 0
total_special_rooms : 0
price_per_sqm : 1264
id : 0

**Note:**

  Terdapat outlier pada kolom baru `price_per_sqm` dengan jumlah 1264

In [16]:
"""
Capping (atau disebut juga winsorizing) adalah teknik menangani outlier dengan cara:

1. Mengganti nilai ekstrem dengan batas maksimum atau minimum tertentu
2. BUKAN menghapus datanya

Jadi datanya tetap ada, hanya nilainya yang “dipotong” ke batas wajar.
"""

def cap_outliers(data, column):
    Q1 = data[column].quantile(0.25)
    Q3 = data[column].quantile(0.75)
    IQR = Q3 - Q1
    
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    
    data[column] = data[column].clip(lower, upper)
    
for col in num_cols:
    cap_outliers(df, col)

In [17]:
for col in num_cols:
    print(col, ":", detect_outliers_iqr(df, col))

square_meters : 0
number_of_rooms : 0
floors : 0
city_code : 0
city_part_range : 0
num_prev_owners : 0
year_built : 0
basement : 0
attic : 0
garage : 0
has_guest_room : 0
price : 0
property_age : 0
total_special_rooms : 0
price_per_sqm : 0
id : 0

In [18]:
df

,square_meters,number_of_rooms,has_yard,has_pool,floors,city_code,city_part_range,num_prev_owners,year_built,is_new_built,...,attic,garage,has_storage_room,has_guest_room,price,category,property_age,total_special_rooms,price_per_sqm,id
0,75523,3,False,True,63,9373,3,8,2005,False,...,9005,956,False,7,7559081.5,Basic,20,14274,100.089794,1
1,80771,39,True,True,98,39381,8,6,2015,True,...,2436,128,True,2,8085989.5,Luxury,10,6217,100.110058,2
2,55712,58,False,True,19,34457,6,8,2021,False,...,8852,135,True,9,5574642.1,Basic,4,11924,100.061784,3
3,32316,47,False,False,6,27939,10,4,2012,False,...,7141,359,False,3,3232561.2,Basic,13,8159,100.029744,4
4,70429,19,True,True,90,38045,3,7,1990,True,...,2429,292,True,4,7055052.0,Luxury,35,11156,100.172543,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1726,89,False,True,5,73133,7,6,2009,False,...,1698,218,False,4,176425.9,Basic,16,11227,100.532565,9996
9996,44403,29,True,True,12,34606,9,4,1990,False,...,1742,230,False,0,4448474.0,Basic,35,11033,100.184087,9997
9997,83841,3,False,False,69,80933,10,10,2005,True,...,7730,345,True,9,8390030.5,Basic,20,16379,100.070735,9998
9998,59036,70,False,False,96,55856,1,3,2010,False,...,6174,339,True,4,5905107.0,Basic,15,9103,100.025527,9999
9999,1440,84,False,False,49,18412,6,10,1994,True,...,2024,278,True,6,146708.4,Basic,31,10787,100.532565,10000

### 7. Export The Result

In [19]:
df.to_csv("paris_housing_cleaned.csv", index=False)

In [20]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   square_meters        10000 non-null  int64
 1   number_of_rooms      10000 non-null  int64
 2   has_yard             10000 non-null  bool
 3   has_pool             10000 non-null  bool
 4   floors               10000 non-null  int64
 5   city_code            10000 non-null  int64
 6   city_part_range      10000 non-null  int64
 7   num_prev_owners      10000 non-null  int64
 8   year_built           10000 non-null  int64
 9   is_new_built         10000 non-null  bool
 10  has_storm_protector  10000 non-null  bool
 11  basement             10000 non-null  int64
 12  attic                10000 non-null  int64
 13  garage               10000 non-null  int64
 14  has_storage_room     10000 non-null  bool
 15  has_guest_room       10000 non-null  int64
 16  price                10000 non-null  float64
 17  category             10000 non-null  category
 18  property_age         10000 non-null  int64
 19  total_special_rooms  10000 non-null  int64
 20  price_per_sqm        10000 non-null  float64
 21  id                   10000 non-null  int64
dtypes: bool(5), category(1), float64(2), int64(14)
memory usage: 1.3 MB

In [22]:
categorical_cols = df.select_dtypes(include=['object', 'int64', 'bool']).columns

for col in categorical_cols:
    print(f"\nValue counts untuk kolom: {col}")
    print(df[col].value_counts())

Value counts untuk kolom: square_meters
square_meters
79770    3
33749    3
96526    3
16006    3
68985    3
        ..
21514    1
1726     1
44403    1
83841    1
59036    1
Name: count, Length: 9483, dtype: int64

Value counts untuk kolom: number_of_rooms
number_of_rooms
54    129
4     120
22    119
47    118
3     116
     ...
6      85
31     84
34     84
40     82
9      75
Name: count, Length: 100, dtype: int64

Value counts untuk kolom: has_yard
has_yard
True     5087
False    4913
Name: count, dtype: int64

Value counts untuk kolom: has_pool
has_pool
False    5032
True     4968
Name: count, dtype: int64

Value counts untuk kolom: floors
floors
97     126
55     122
77     117
3      116
28     116
      ...
15      83
74      83
48      83
100     82
92      75
Name: count, Length: 100, dtype: int64

Value counts untuk kolom: city_code
city_code
82521    3
79444    3
83194    3
95054    3
36929    3
        ..
73133    1
34606    1
80933    1
55856    1
18412    1
Name: count, Length: 9509, dtype: int64

Value counts untuk kolom: city_part_range
city_part_range
8     1035
5     1031
10    1004
4     1001
3      999
9      997
1      994
2      990
7      984
6      965
Name: count, dtype: int64

Value counts untuk kolom: num_prev_owners
num_prev_owners
4     1043
9     1036
5     1036
6     1011
10     999
3      991
2      987
7      974
8      971
1      952
Name: count, dtype: int64

Value counts untuk kolom: year_built
year_built
1992    356
2013    352
2020    336
2018    334
2003    332
2001    332
1996    327
2009    324
1991    324
2011    321
2019    321
1993    320
1998    318
1990    317
1994    312
2014    312
2004    307
2016    307
2015    305
2012    305
2021    304
2008    302
2007    302
2005    296
1997    296
2006    296
2000    295
1999    293
2010    291
2002    290
2017    288
1995    285
Name: count, dtype: int64

Value counts untuk kolom: is_new_built
is_new_built
False    5009
True     4991
Name: count, dtype: int64

Value counts untuk kolom: has_storm_protector
has_storm_protector
False    5001
True     4999
Name: count, dtype: int64

Value counts untuk kolom: basement
basement
6899    6
4170    6
2192    6
1421    6
5811    5
       ..
7022    1
1276    1
3480    1
8304    1
8485    1
Name: count, Length: 6352, dtype: int64

Value counts untuk kolom: attic
attic
3127    7
6556    6
9333    6
5017    6
8481    6
       ..
9474    1
3716    1
4016    1
5266    1
6174    1
Name: count, Length: 6267, dtype: int64

Value counts untuk kolom: garage
garage
253    24
955    21
968    20
866    20
740    20
       ..
609     4
483     3
887     3
589     2
282     2
Name: count, Length: 901, dtype: int64

Value counts untuk kolom: has_storage_room
has_storage_room
True     5030
False    4970
Name: count, dtype: int64

Value counts untuk kolom: has_guest_room
has_guest_room
2     942
10    926
9     916
0     914
8     913
4     911
1     910
3     906
6     904
7     884
5     874
Name: count, dtype: int64

Value counts untuk kolom: property_age
property_age
33    356
12    352
5     336
7     334
22    332
24    332
29    327
16    324
34    324
14    321
6     321
32    320
27    318
35    317
31    312
11    312
21    307
9     307
10    305
13    305
4     304
17    302
18    302
20    296
28    296
19    296
25    295
26    293
15    291
23    290
8     288
30    285
Name: count, dtype: int64

Value counts untuk kolom: total_special_rooms
total_special_rooms
12844    5
10805    5
13504    5
14122    5
10674    5
        ..
10821    1
5117     1
8472     1
11227    1
11033    1
Name: count, Length: 7332, dtype: int64

Value counts untuk kolom: id
id
1        1
2        1
3        1
4        1
5        1
        ..
9996     1
9997     1
9998     1
9999     1
10000    1
Name: count, Length: 10000, dtype: int64